<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.cover {

  text-align: center;
  float:center;
  
  border: 1px solid black;
}

    div#position {
        position: relative;
        margin: 0 auto;
        border: 1px solid black;
        width: 600px;
        height: 400px;
        
    }
    
</style>

    
</head>
<body>
<h3 style="text-align:center;">배달원 공고 결과</h3>
    <br />
	   <table class="table table-striped" style="text-align: center;">
           <tr>
               <td>지원 날짜</td>
               <td>아이디</td>
               <td>이름</td>
               <td>희망 배달 지역</td>
           </tr>
           <% if(data) { %>
           <% for (var i=0; i<data.length; i++) { %>
           <tr>
               <td><%=data[i].date %></td>
               <td><%=data[i].id %></td>
               <td><%=data[i].name %></td>
               <td><%=data[i].location %></td>
           </tr>
           <% } %>
           <% } else { %>
           <tr>
               <td></td>
               <td></td>
               <td style="width: 40%"><h5 align="left">배달원 공고 결과가 없습니다.</h5></td>
               <td></td>
           </tr>
           <% } %>
       </table>
    <br />
    <br />
    <div align="center">
        <input type="button" class="btn btn-primary" value="창닫기" onClick="window.close();">
    </div>
    

	
</body>
</html> 
